@import url('https://fonts.googleapis.com/css2?family=Inter:wght@400;500;600;700&family=JetBrains+Mono:wght@400;500;700&display=swap');
@import "tailwindcss";

@theme {
  --font-sans: "Inter", ui-sans-serif, system-ui, sans-serif;
  --font-mono: "JetBrains Mono", ui-monospace, SFMono-Regular, monospace;
}

@utility scrollbar-hide {
  scrollbar-width: none;
  -ms-overflow-style: none;
  &::-webkit-scrollbar {
    display: none;
  }
}

@media print {
  @page {
    margin: 0;
    /* size: 80mm auto; -> Descomentar si es estrictamente necesario, pero margin 0 ayuda a la mayoría */
  }
  body {
    margin: 0;
    padding: 0;
    background-color: white;
  }
  body * {
    visibility: hidden;
  }
  #printable-receipt, #printable-receipt * {
    visibility: visible;
  }
  #printable-receipt {
    position: absolute;
    left: 0;
    top: 0;
    width: 100%;
    max-width: 80mm; /* Forzar el ancho máximo para impresoras de 80mm */
    margin: 0;
    padding: 0;
  }
}
