@import url('https://fonts.googleapis.com/css2?family=Inter:wght@400;500;600;700&family=JetBrains+Mono:wght@400;500;700&display=swap');
@import "tailwindcss";

@theme {
  --font-sans: "Inter", ui-sans-serif, system-ui, sans-serif;
  --font-mono: "JetBrains Mono", ui-monospace, SFMono-Regular, monospace;
}

@utility scrollbar-hide {
  scrollbar-width: none;
  -ms-overflow-style: none;
  &::-webkit-scrollbar {
    display: none;
  }
}

@media print {
  @page {
    margin: 0;
    size: 80mm 297mm; /* Forzar el tamaño de papel a ticket de 80mm */
  }
  body {
    margin: 0;
    padding: 0;
    background-color: white;
  }
  body * {
    visibility: hidden;
  }
  #printable-receipt {
    position: fixed !important;
    left: 0 !important;
    top: 0 !important;
    width: 80mm !important; /* Ancho exacto de 80mm */
    max-width: 80mm !important;
    margin: 0 !important;
    padding: 10px !important; /* Un poco de margen interno para que las letras no toquen el borde del papel */
    background: white;
  }
  #printable-receipt * {
    visibility: visible;
  }
}
